h1 {
    padding-left: 2.5%;
    padding-top: 2.5%;
}

h2 {
    padding-left: 5%;
    padding-top: 2.5%;
}

h3 {

    padding-left: 7.5%;
    padding-top: 2.5%; ;
}

h4 {

    padding-left: 10%; 
    padding-top: 2.5%;
}   

h5 {

    padding-left: 12.5%;
    padding-top: 2.5%;

}

h6 {

    padding-left: 15%;
    padding-top: 2.5%;
}