body {
    font-size: 12px;
  }
  .brown {
    color: brown;
    font-weight: 200;
  }
  .large {
     font-size: 28px;
  }
  .normal {
     font-size: 18px;
     color: blue;
     font-weight: 700;
  }

   div .brown .large {
  }

  